<ul id="head-title" class="pull-left">
	<li>
		<span id="title-icon"><i class="fa fa-lightbulb-o text-danger"></i></span>
	</li>
	<li id="title-texts">
		<div id="title"><span>Stage IDE Models</span></div>
		<div id="version" class="pull-right"><span class="text-muted">v1.0 Beta</span></div>
	</li>
</ul>
<ul id="head-links" class="pull-left">
	 <li class="text-center hidden" action="goto" data-context="Models/Models.Display">
			<div class="head-link-icon"><i class="icon-server"></i></div>
			<div class="head-link-text"><span>Model</span></div>
	</li>
</ul>
